<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Typeable Blog - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax-tango.css" />
        <link rel="icon" type="image/png" href="/images/favicon.png" />
    </head>
    <body>
        <header>
            <div class="logo">
              <a href="https://typeable.io">
                <img src="/images/typeable-t.svg" style="float: left; height: 1.5em;" />
              </a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <main role="main">
            $body$
        </main>

        <footer>
          <ul class="contacts">
            <li>
              <a class="contacts-mail" href="mailto:makeit@typeable.io">makeit@typeable.io</a>
            </li>
            <li>
              <a class="contacts-github" href="https://github.com/typeable">github.com/typeable</a>
            </li>
            <li>
              <a class="contacts-twitter" href="https://twitter.com/typeableIO">twitter.com/typeableIO</a>
            </li>
          </ul>
        </footer>
    </body>
</html>
